@*Alterei para um DTO específico para ter informações sobre a exclusão com pacientes*@
@model Projeto1_IF.Models.TbProfissionalDTO 

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
@*Incluída a informação de Exclusão dos Pacientes também ao excluir o Profissional*@
<h3 class="text-danger">@Html.DisplayFor(model => model.Mensagem)</h3>
<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmCrn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmCrn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>
    </dl>
        <h5>Endereço</h5>
        <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddd1) @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddd2) @Html.DisplayFor(model => model.Telefone2)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCidade) / @Html.DisplayFor(model => model.NomeUF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePlano)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProfissional" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark btn-sm" title="Voltar"><i class="bi bi-arrow-left-circle"></i>Voltar</a>
    </form>
    
</div>
